.buttonhero {
  margin-top: 20px;
  color: white;
  padding: 14px 30px;
  background-color: #3691d4;
  border-radius: 50px;
  font-weight: 700;
}
.buttonhero:hover {
  background-color: #2e84c7;
  text-decoration: none;
  color: white;
}
